## Import Libraries

In [3]:
import pandas as pd
import time
import numpy as np
import math
from itertools import islice 
import json
from pandas.io.json import json_normalize
import os

## Read and parse json files for each video

In [9]:


# this finds our json files
path_to_json = "/mnt/sde/jagadish/userdata/dl_project/tv_json_files_new/jagtv_8306/"
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

# here I define my pandas Dataframe with the columns I want to get from the json
jsons_data = pd.DataFrame(columns=['index','person_id','po', 'hl', 'hr'])
df = pd.DataFrame()


# we need both the json and an index number so use enumerate()
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        index = (str(json_file).split('/')[-1].split('_')[2])
        person_id = json_text['people'][0]['person_id']
        po = json_text['people'][0]['pose_keypoints_2d']
        hl = json_text['people'][0]['hand_left_keypoints_2d']
        hr = json_text['people'][0]['hand_right_keypoints_2d'] 
        # here I push a list of data into a pandas DataFrame at row given by 'index'
        jsons_data.loc[index] = [index,person_id, po, hl, hr]


# now that we have the pertinent json data in our DataFrame let's look at it
print(jsons_data)

                     index person_id  \
000000001530  000000001530      [-1]
000000000024  000000000024      [-1]
000000000820  000000000820      [-1]
000000000839  000000000839      [-1]
000000001415  000000001415      [-1]
000000000953  000000000953      [-1]
000000001132  000000001132      [-1]
000000001178  000000001178      [-1]
000000000712  000000000712      [-1]
000000000929  000000000929      [-1]
000000000954  000000000954      [-1]
000000001300  000000001300      [-1]
000000000378  000000000378      [-1]
000000001369  000000001369      [-1]
000000001318  000000001318      [-1]
000000000518  000000000518      [-1]
000000000310  000000000310      [-1]
000000000723  000000000723      [-1]
000000000307  000000000307      [-1]
000000000210  000000000210      [-1]
000000001382  000000001382      [-1]
000000000738  000000000738      [-1]
000000001536  000000001536      [-1]
000000000750  000000000750      [-1]
000000000754  000000000754      [-1]
000000001077  000000001077      [-1]
000000001782  000000001782      [-1]
000000001199  000000001199      [-1]
000000001050  000000001050      [-1]
000000000137  000000000137      [-1]
...                    ...       ...
000000000335  000000000335      [-1]
000000001226  000000001226      [-1]
000000001512  000000001512      [-1]
000000000504  000000000504      [-1]
000000001127  000000001127      [-1]
000000000416  000000000416      [-1]
000000001744  000000001744      [-1]
000000001202  000000001202      [-1]
000000000765  000000000765      [-1]
000000000719  000000000719      [-1]
000000000744  000000000744      [-1]
000000000094  000000000094      [-1]
000000000509  000000000509      [-1]
000000000779  000000000779      [-1]
000000000244  000000000244      [-1]
000000001210  000000001210      [-1]
000000001794  000000001794      [-1]
000000000252  000000000252      [-1]
000000000002  000000000002      [-1]
000000001116  000000001116      [-1]
000000001755  000000001755      [-1]
000000000007  000000000007      [-1]
000000000773  000000000773      [-1]
000000000451  000000000451      [-1]
000000001308  000000001308      [-1]
000000000042  000000000042      [-1]
000000000023  000000000023      [-1]
000000001080  000000001080      [-1]
000000000112  000000000112      [-1]
000000001275  000000001275      [-1]

                                                             po  \
000000001530  [430.135, 547.91, 0.801189, 527.366, 544.946, ...
000000000024  [721.656, 483.077, 0.859716, 880.494, 480.338,...
000000000820  [480.166, 542.012, 0.783998, 553.929, 547.998,...
000000000839  [486.224, 459.524, 0.848963, 556.86, 468.5, 0....
000000001415  [409.593, 524.419, 0.814475, 533.198, 527.255,...
000000000953  [892.363, 527.411, 0.681134, 854.003, 524.41, ...
000000001132  [759.829, 545.011, 0.811622, 860.07, 506.826, ...
000000001178  [715.668, 483.34, 0.85344, 859.817, 500.812, 0...
000000000712  [459.56, 530.298, 0.844522, 556.779, 524.393, ...
000000000929  [509.638, 571.382, 0.800446, 571.532, 574.443,...
000000000954  [903.908, 521.431, 0.789222, 857.063, 524.387,...
000000001300  [715.692, 483.317, 0.881372, 836.515, 480.177,...
000000000378  [695.135, 509.625, 0.874155, 851.103, 515.614,...
000000001369  [736.208, 483.117, 0.884405, 854.059, 486.114,...
000000001318  [715.637, 486.206, 0.84536, 839.284, 483.105, ...
000000000518  [441.941, 592.013, 0.747102, 539.166, 577.393,...
000000000310  [689.206, 509.68, 0.857673, 842.241, 524.368, ...
000000000723  [483.251, 486.122, 0.818107, 565.638, 489.11, ...
000000000307  [689.099, 509.637, 0.85196, 842.249, 521.49, 0...
000000000210  [692.292, 503.926, 0.914219, 848.142, 509.749,...
000000001382  [759.747, 497.888, 0.795635, 836.516, 489.141,...
000000000738  [477.312, 509.675, 0.838658, 559.773, 524.428,...
000000001536  [424.296, 527.218, 0.797255, 527.324, 518.461,...
000000000750  [480.162, 574.366, 0.853976, 553.856, 580.33, ...
000000000754  [477.297, 577.344, 0.828788, 553.881, 580.414,...
000000001077  [739.36, 480.246, 0.917389, 857.05, 503.724, 0...
000000001782  [489.121, 550.92, 0.783032, 533.267, 550.839, ...
000000001199  [703.99, 494.931, 0.782043, 854.021, 503.772, ...
000000001050  [739.153, 483.178, 0.907329, 854.055, 497.883,...
000000000137  [709.773, 509.659, 0.856167, 859.97, 515.599, ...
...                                                         ...
000000000335  [692.226, 509.719, 0.868638, 851.044, 521.398,...
000000001226  [698.133, 489.058, 0.822932, 854.022, 497.89, ...
000000001512  [433.257, 500.816, 0.834629, 527.28, 491.974, ...
000000000504  [436.083, 568.568, 0.769335, 547.916, 550.957,...
000000001127  [751.034, 539.122, 0.786876, 862.855, 503.725,...
000000000416  [692.043, 512.675, 0.850824, 845.235, 527.203,...
000000001744  [297.744, 483.113, 0.832893, 527.334, 459.551,...
000000001202  [698.1, 497.948, 0.811387, 851.143, 503.729, 0...
000000000765  [468.542, 544.97, 0.766115, 553.815, 550.764, ...
000000000719  [483.183, 489.15, 0.805637, 568.578, 497.912, ...
000000000744  [480.244, 550.949, 0.859544, 556.83, 565.61, 0...
000000000094  [692.281, 506.608, 0.900362, 845.267, 506.76, ...
000000000509  [433.262, 592.022, 0.766578, 542.01, 571.514, ...
000000000779  [492.023, 480.088, 0.816866, 553.854, 483.256,...
000000000244  [692.005, 509.7, 0.872751, 845.218, 524.372, 0...
000000001210  [698.017, 494.986, 0.814354, 853.945, 503.709,...
000000001794  [333.054, 550.874, 0.729388, 530.326, 545.01, ...
000000000252  [689.217, 506.897, 0.870673, 845.211, 524.332,...
000000000002  [727.534, 494.959, 0.795355, 883.587, 497.855,...
000000001116  [742.342, 506.633, 0.847472, 862.879, 492.047,...
000000001755  [315.531, 509.721, 0.62006, 530.288, 506.737, ...
000000000007  [724.554, 500.746, 0.807043, 883.502, 492.084,...
000000000773  [486.14, 483.146, 0.856395, 553.891, 500.774, ...
000000000451  [692.029, 518.536, 0.865363, 845.237, 527.362,...
000000001308  [718.545, 483.322, 0.857116, 839.286, 480.244,...
000000000042  [715.713, 474.403, 0.874525, 874.614, 474.347,...
000000000023  [721.632, 483.153, 0.866769, 880.475, 483.12, ...
000000001080  [742.192, 480.107, 0.896183, 859.861, 503.808,...
000000000112  [695.266, 515.604, 0.808505, 854.09, 521.381, ...
000000001275  [730.432, 480.381, 0.844195, 845.167, 474.355,...

                                                             hl  \
000000001530  [844.442, 460.828, 0.50016, 831.762, 483.018, ...
000000000024  [1043.82, 319.885, 0.505298, 1046.64, 344.676,...
000000000820  [979.832, 412.884, 0.665534, 1004.38, 440.933,...
000000000839  [992.947, 334.458, 0.673647, 1006.23, 362.8, 0...
000000001415  [922.245, 387.71, 0.558709, 929.377, 414.653, ...
000000000953  [1152.08, 403.027, 0.536076, 1179.8, 432.984, ...
000000001132  [951.705, 635.82, 0.207127, 960.39, 627.135, 0...
000000001178  [940.024, 528.446, 0.125505, 934.145, 559.151,...
000000000712  [971.118, 380.945, 0.526299, 986.965, 411.805,...
000000000929  [962.167, 406.315, 0.598617, 981.386, 433.89, ...
000000000954  [1149.52, 401.488, 0.477058, 1178.67, 432.058,...
000000001300  [768.869, 432.67, 0.0479836, 794.298, 520.176,...
000000000378  [1026.63, 367.111, 0.424651, 1032.67, 397.823,...
000000001369  [980.086, 398.164, 0.243993, 983.348, 417.083,...
000000001318  [763.673, 439.105, 0.0696295, 789.336, 472.61,...
000000000518  [934.427, 355.789, 0.628068, 952.772, 374.133,...
000000000310  [1021.63, 374.185, 0.448499, 1028.6, 405.559, ...
000000000723  [980.649, 341.752, 0.615436, 993.579, 371.651,...
000000000307  [1020.45, 372.671, 0.460067, 1026.11, 403.846,...
000000000210  [1015.89, 354.726, 0.41524, 1030.61, 391.521, ...
000000001382  [1057.96, 364.61, 0.387224, 1071.8, 394.088, 0...
000000000738  [940.279, 375.269, 0.505328, 960.376, 403.095,...
000000001536  [789.685, 449.695, 0.0145273, 790.475, 449.695...
000000000750  [861.718, 454.437, 0.409822, 875.951, 481.048,...
000000000754  [872.613, 459.757, 0.454575, 889.023, 489.422,...
000000001077  [939.684, 528.165, 0.153547, 935.017, 556.837,...
000000001782  [950.172, 399.201, 0.702439, 971.169, 425.448,...
000000001199  [939.775, 538.843, 0.185626, 931.493, 566.874,...
000000001050  [947.493, 574.868, 0.547713, 954.312, 583.96, ...
000000000137  [1027.74, 358.07, 0.424863, 1028.88, 380.177, ...
...                                                         ...
000000000335  [1024.12, 370.803, 0.418575, 1032.81, 402.856,...
000000001226  [931.846, 522.237, 0.23373, 926.446, 552.613, ...
000000001512  [782.684, 559.096, 0.574019, 757.31, 579.713, ...
000000000504  [906.4, 363.963, 0.583697, 915.739, 388.088, 0...
000000001127  [936.902, 534.474, 0.0862682, 931.744, 558.333...
000000000416  [1024.42, 377.098, 0.481253, 1030.06, 405.822,...
000000001744  [802.459, 366.859, 0.5031, 791.218, 396.568, 0...
000000001202  [937.458, 537.855, 0.202969, 929.449, 564.964,...
000000000765  [962.807, 422.158, 0.570814, 985.852, 451.177,...
000000000719  [978.026, 350.221, 0.615554, 991.032, 379.485,...
000000000744  [888.786, 421.592, 0.371103, 914.039, 450.453,...
000000000094  [1015.01, 349.827, 0.429512, 1017.75, 372.856,...
000000000509  [920.465, 377.896, 0.575087, 928.317, 402.238,...
000000000779  [988.889, 345.843, 0.580286, 1004.46, 374.388,...
000000000244  [1017.97, 370.245, 0.457429, 1025.77, 403.706,...
000000001210  [933.061, 537.178, 0.163969, 926.567, 566.401,...
000000001794  [941.754, 383.74, 0.637152, 968.488, 408.749, ...
000000000252  [1020.09, 372.603, 0.442468, 1025.24, 402.344,...
000000000002  [1042.43, 329.041, 0.242665, 1046.25, 351.387,...
000000001116  [941.662, 525.702, 0.118914, 939.053, 553.751,...
000000001755  [772.13, 405.745, 0.522063, 761.698, 441.056, ...
000000000007  [1043.86, 331.747, 0.318467, 1044.39, 353.51, ...
000000000773  [990.918, 363.218, 0.578853, 1004.75, 392.607,...
000000000451  [1023.83, 376.467, 0.475076, 1030.83, 407.972,...
000000001308  [765.506, 432.698, 0.0971866, 749.601, 459.448...
000000000042  [1039.86, 312.228, 0.522851, 1040.43, 334.99, ...
000000000023  [1043.28, 321.633, 0.466358, 1046.09, 344.742,...
000000001080  [937.805, 529.386, 0.140534, 937.139, 558.694,...
000000000112  [1022.26, 364.765, 0.450303, 1023.92, 388.475,...
000000001275  [766.775, 431.912, 0.325344, 744.316, 444.953,...

                                                             hr
000000001530  [720.478, 534.068, 0.268614, 687.779, 513.536,...
000000000024  [1077.49, 663.491, 0.567327, 1081.21, 642.751,...
000000000820  [1000.7, 703.485, 0.484855, 1020.57, 676.703, ...
000000000839  [937.434, 650.088, 0.491863, 960.739, 623.025,...
000000001415  [891.577, 704.638, 0.596193, 890.761, 680.962,...
000000000953  [1170.3, 674.144, 0.621014, 1188.18, 646.254, ...
000000001132  [934.202, 365.783, 0.0433304, 931.29, 394.169,...
000000001178  [945.942, 370.84, 0.120132, 939.016, 413.776, ...
000000000712  [979.312, 707.03, 0.456743, 1001.77, 680.259, ...
000000000929  [1020.83, 741.785, 0.583067, 1041.4, 715.217, ...
000000000954  [1174.24, 670.73, 0.639805, 1193.71, 647.084, ...
000000001300  [792.881, 539.437, 0.184782, 760.672, 523.869,...
000000000378  [1063.93, 671.194, 0.507079, 1063.36, 653.514,...
000000001369  [981.35, 581.433, 0.0562285, 988.461, 575.143,...
000000001318  [789.09, 543.191, 0.200711, 755.961, 527.769, ...
000000000518  [970.564, 806.649, 0.615285, 993.12, 784.929, ...
000000000310  [1056.08, 676.388, 0.528103, 1056.08, 658.718,...
000000000723  [942.127, 632.942, 0.468171, 964.456, 606.292,...
000000000307  [1055.99, 674.147, 0.55226, 1055.99, 657.03, 0...
000000000210  [1060.57, 666.948, 0.467879, 1061.15, 647.287,...
000000001382  [1098.94, 651.252, 0.553417, 1113.9, 625.7, 0....
000000000738  [1002.86, 668.442, 0.464014, 1024.46, 641.657,...
000000001536  [825.52, 527.78, 0.526955, 806.882, 503.179, 0...
000000000750  [995.582, 730.451, 0.520339, 1020.32, 706.565,...
000000000754  [995.23, 728.969, 0.497153, 1018.75, 702.93, 0...
000000001077  [941.651, 373.191, 0.0741209, 940.953, 402.47,...
000000001782  [976.241, 736.155, 0.576367, 994.653, 709.853,...
000000001199  [940.914, 374.463, 0.0808219, 929.831, 396.63,...
000000001050  [940.311, 511.898, 0.0229203, 923.341, 490.341...
000000000137  [1060.25, 696.212, 0.606596, 1063.12, 674.972,...
...                                                         ...
000000000335  [1061, 673.776, 0.513005, 1061, 655.248, 0.666...
000000001226  [936.076, 364.703, 0.0458383, 933.972, 392.76,...
000000001512  [874.321, 580.498, 0.728045, 871.846, 553.273,...
000000000504  [923.345, 766.654, 0.587088, 932.315, 744.636,...
000000001127  [938.517, 366.219, 0.0799202, 927.339, 380.891...
000000000416  [1058.37, 677.033, 0.498431, 1057.31, 660.651,...
000000001744  [836.633, 637.949, 0.619133, 826.526, 619.289,...
000000001202  [940.915, 372.829, 0.0887358, 932.553, 395.825...
000000000765  [993.588, 703.702, 0.512671, 1016.7, 676.144, ...
000000000719  [953.027, 646.731, 0.537301, 976.484, 618.583,...
000000000744  [1004.37, 714.207, 0.556956, 1027.77, 687.338,...
000000000094  [1046.34, 687.146, 0.5428, 1046.87, 666.078, 0...
000000000509  [930.985, 798.673, 0.471719, 940.076, 773.88, ...
000000000779  [924.491, 631.708, 0.464748, 944.128, 603.763,...
000000000244  [1057.33, 674.644, 0.468644, 1056.78, 657.527,...
000000001210  [936.171, 373.498, 0.0623057, 929.18, 397.268,...
000000001794  [969.87, 765.658, 0.592746, 992.774, 744.516, ...
000000000252  [1056.9, 672.326, 0.546055, 1056.35, 654.831, ...
000000000002  [1084.07, 675.66, 0.515069, 1083.52, 655.665, ...
000000001116  [949.978, 364.337, 0.0518952, 945.55, 391.644,...
000000001755  [817.497, 678.789, 0.583807, 805.653, 659.543,...
000000000007  [1083.06, 677.265, 0.575196, 1083.63, 657.36, ...
000000000773  [959.874, 645.171, 0.517652, 979.451, 615.414,...
000000000451  [1060.88, 678.775, 0.490683, 1060.33, 661.294,...
000000001308  [789.861, 538.21, 0.272347, 761.294, 528.687, ...
000000000042  [1072.78, 652.106, 0.523779, 1073.3, 631.557, ...
000000000023  [1076.24, 666.008, 0.555908, 1079.48, 643.818,...
000000001080  [941.83, 372.568, 0.0652261, 932.772, 392.775,...
000000000112  [1051.12, 701.164, 0.561879, 1053.97, 680.088,...
000000001275  [792.723, 540.71, 0.268194, 761.434, 533.757, ...

[1836 rows x 5 columns]

## Preprocessing data

In [10]:
df = jsons_data

In [11]:
df['index'] = df['index'].astype(int)

In [12]:
df=df.sort_index()

In [13]:
df.head(5)

,index,person_id,po,hl,hr
000000000000,0,[-1],"[730.418, 492.061, 0.799119, 883.546, 497.954,...","[1043.4, 329.055, 0.376755, 1045.58, 350.318, ...","[1086.79, 673.614, 0.567056, 1087.36, 653.644,..."
000000000001,1,[-1],"[727.496, 494.931, 0.797698, 883.574, 497.942,...","[1042.32, 328.811, 0.239091, 1044.44, 350.569,...","[1085.33, 674.153, 0.52687, 1087.02, 653.821, ..."
000000000002,2,[-1],"[727.534, 494.959, 0.795355, 883.587, 497.855,...","[1042.43, 329.041, 0.242665, 1046.25, 351.387,...","[1084.07, 675.66, 0.515069, 1083.52, 655.665, ..."
000000000003,3,[-1],"[730.385, 494.956, 0.796999, 883.557, 494.988,...","[1044.26, 330.845, 0.226355, 1046.42, 352.958,...","[1083.65, 675.677, 0.537642, 1084.21, 655.344,..."
000000000004,4,[-1],"[727.503, 494.948, 0.798814, 883.542, 494.978,...","[1047.29, 332.332, 0.356608, 1047.84, 354.131,...","[1083, 677.416, 0.552919, 1083, 656.519, 0.584..."

In [14]:
gf = pd.DataFrame()

In [15]:
gf=df

In [16]:
gf.head(1)

,index,person_id,po,hl,hr
000000000000,0,[-1],"[730.418, 492.061, 0.799119, 883.546, 497.954,...","[1043.4, 329.055, 0.376755, 1045.58, 350.318, ...","[1086.79, 673.614, 0.567056, 1087.36, 653.644,..."

In [17]:
gf = gf.join(gf['po'].apply(pd.Series).add_prefix('po'))
gf = gf.join(gf['hl'].apply(pd.Series).add_prefix('hl'))
gf = gf.join(gf['hr'].apply(pd.Series).add_prefix('hr'))

In [18]:
gf = gf.drop(['po', 'hl', 'hr', 'person_id', 'index'], axis=1)

In [19]:
gf.head(1)

,po0,po1,po2,po3,po4,po5,po6,po7,po8,po9,...,hr53,hr54,hr55,hr56,hr57,hr58,hr59,hr60,hr61,hr62
000000000000,730.418,492.061,0.799119,883.546,497.954,0.737814,886.41,609.801,0.746752,1021.86,...,0.633117,1141.57,670.191,0.480044,1143.85,664.485,0.303567,1141.57,662.773,0.171271

In [20]:
gf = gf.drop(gf.iloc[:, 2::3],axis=1)

In [21]:
gf.head(1)

,po0,po1,po3,po4,po6,po7,po9,po10,po12,po13,...,hr48,hr49,hr51,hr52,hr54,hr55,hr57,hr58,hr60,hr61
000000000000,730.418,492.061,883.546,497.954,886.41,609.801,1021.86,686.256,1086.56,668.6,...,1135.29,650.791,1126.16,682.173,1141.57,670.191,1143.85,664.485,1141.57,662.773

In [21]:
mf = pd.DataFrame()

In [22]:
n = gf.shape[1]
i=0
j=0
while i < n:

    col = gf.columns[i][0:2] + "_" + str(j) #col name
    X = gf.columns[i]
    Y = gf.columns[i+1]
    mf[col] = gf[[X, Y]].values.tolist()
    i = i+2
    j= j+1

In [23]:
mf.head(1)

,po_0,po_1,po_2,po_3,po_4,po_5,po_6,po_7,po_8,po_9,...,hr_57,hr_58,hr_59,hr_60,hr_61,hr_62,hr_63,hr_64,hr_65,hr_66
0,"[668.524, 506.788]","[812.999, 518.557]","[809.915, 639.184]","[921.712, 689.223]","[1054.22, 689.168]","[821.661, 391.958]","[951.152, 344.82]","[1062.95, 383.175]","[1107.13, 512.647]","[1083.64, 580.34]",...,"[1139.53, 733.978]","[1151.95, 743.16]","[1100.1, 721.015]","[1122.79, 738.299]","[1137.91, 748.561]","[1149.25, 756.662]","[1106.59, 730.197]","[1122.25, 742.079]","[1134.67, 748.561]","[1143.85, 757.202]"

In [24]:
hf=pd.DataFrame()

In [25]:
hf = mf

In [26]:
hf.head(1)

,po_0,po_1,po_2,po_3,po_4,po_5,po_6,po_7,po_8,po_9,...,hr_57,hr_58,hr_59,hr_60,hr_61,hr_62,hr_63,hr_64,hr_65,hr_66
0,"[668.524, 506.788]","[812.999, 518.557]","[809.915, 639.184]","[921.712, 689.223]","[1054.22, 689.168]","[821.661, 391.958]","[951.152, 344.82]","[1062.95, 383.175]","[1107.13, 512.647]","[1083.64, 580.34]",...,"[1139.53, 733.978]","[1151.95, 743.16]","[1100.1, 721.015]","[1122.79, 738.299]","[1137.91, 748.561]","[1149.25, 756.662]","[1106.59, 730.197]","[1122.25, 742.079]","[1134.67, 748.561]","[1143.85, 757.202]"

In [27]:
hf.shape[1]

67

## Euclidean distances between body key points

In [28]:
def eudis5(v1, v2): # Function to calculate euclidean distance between two points
    dist = [(a - b)**2 for a, b in zip(v1, v2)]
    dist = math.sqrt(sum(dist))
    return dist

In [29]:
hf['pd'] = ''
hf['pd'] = hf['pd'].apply(list)

In [30]:
n=hf.index
m = hf.shape[1]
for i in n[:] :
    
    ear =[]
    I=1
    for j in range(25) :
        
        for k in range(I,25) :

            X = hf.columns[j]
            Y = hf.columns[k]

            a = np.array(hf[X][i])
            b = np.array(hf[Y][i])
            x = eudis5(a, b)
            ear.append(x)
        I = I + 1
     
    hf.loc[i,'pd'].append(ear[:])

## Euclidean distances between left hand key points

In [34]:
hf['hld'] = ''
hf['hld'] = hf['hld'].apply(list)

In [36]:
n=hf.index
m = hf.shape[1]
for i in n[:] :
    
    ear =[]
    I=26
    for j in range(25,46) :
        
        for k in range(I,46) :

            X = hf.columns[j]
            Y = hf.columns[k]

            a = np.array(hf[X][i])
            b = np.array(hf[Y][i])
            x = eudis5(a, b)
            ear.append(x)
        I = I + 1
     
    hf.loc[i,'hld'].append(ear[:])

## Euclidean distances between right hand key points

In [37]:
hf['hrd'] = ''
hf['hrd'] = hf['hrd'].apply(list)

In [39]:
n=hf.index
m = hf.shape[1]
for i in n[:] :
    
    ear =[]
    I=47
    for j in range(46,67) :
        
        for k in range(I,67) :

            X = hf.columns[j]
            Y = hf.columns[k]

            a = np.array(hf[X][i])
            b = np.array(hf[Y][i])
            x = eudis5(a, b)
            ear.append(x)
        I = I + 1
     
    hf.loc[i,'hrd'].append(ear[:])

In [40]:
hf.head(5)

,po_0,po_1,po_2,po_3,po_4,po_5,po_6,po_7,po_8,po_9,...,hr_60,hr_61,hr_62,hr_63,hr_64,hr_65,hr_66,pd,hld,hrd
0,"[668.524, 506.788]","[812.999, 518.557]","[809.915, 639.184]","[921.712, 689.223]","[1054.22, 689.168]","[821.661, 391.958]","[951.152, 344.82]","[1062.95, 383.175]","[1107.13, 512.647]","[1083.64, 580.34]",...,"[1122.79, 738.299]","[1137.91, 748.561]","[1149.25, 756.662]","[1106.59, 730.197]","[1122.25, 742.079]","[1134.67, 748.561]","[1143.85, 757.202]","[[144.95356148091017, 193.70109885336217, 312....","[[25.356668077647758, 50.80675817251097, 69.58...","[[18.37067361312592, 35.96953745879976, 52.335..."
1,"[668.482, 506.847]","[815.763, 521.42]","[809.971, 642.073]","[927.616, 689.123]","[1060.07, 689.155]","[821.662, 391.941]","[951.15, 342.041]","[1060.1, 383.125]","[1098.38, 515.581]","[1080.66, 580.393]",...,"[1123.22, 737.217]","[1137.8, 748.555]","[1149.68, 757.193]","[1104.86, 726.959]","[1122.68, 740.996]","[1135.64, 749.095]","[1147.52, 759.893]","[[148.00022057416, 195.7171637772222, 316.8200...","[[24.79238439521294, 49.94466522062187, 68.376...","[[17.65285271563777, 35.41657415674191, 51.966..."
2,"[668.502, 506.862]","[815.84, 521.49]","[812.732, 642.142]","[930.541, 689.134]","[1060.06, 689.131]","[821.692, 391.961]","[951.136, 342.076]","[1062.97, 383.135]","[1104.2, 518.498]","[1089.45, 589.097]",...,"[1123.92, 737.172]","[1138.17, 749.314]","[1151.37, 758.289]","[1105.44, 728.725]","[1122.86, 741.395]","[1134.48, 749.314]","[1150.31, 758.817]","[[148.06236735916394, 197.74471244511196, 319....","[[25.06168791203013, 51.408595156841095, 70.04...","[[18.181648880120875, 35.790999762510125, 53.6..."
3,"[668.626, 506.815]","[815.892, 521.487]","[812.788, 642.116]","[933.533, 686.32]","[1065.89, 689.148]","[821.715, 391.983]","[951.156, 342.054]","[1063.04, 383.173]","[1107.13, 515.588]","[1086.52, 586.199]",...,"[1124.13, 735.948]","[1138.16, 748.898]","[1151.11, 757.532]","[1105.25, 726.774]","[1123.05, 740.265]","[1136.0, 748.898]","[1149.49, 760.23]","[[147.99507539104135, 197.70949103419392, 319....","[[25.49485063694239, 51.68668106969148, 70.387...","[[18.58155224947574, 34.54875974619057, 51.357..."
4,"[668.727, 509.745]","[818.74, 524.36]","[812.841, 642.179]","[942.354, 689.12]","[1065.92, 689.214]","[821.714, 394.872]","[951.226, 342.079]","[1063.06, 383.135]","[1110.08, 518.502]","[1089.5, 586.228]",...,"[1124.89, 737.255]","[1140.05, 749.889]","[1151.68, 758.48]","[1106.19, 728.158]","[1124.39, 742.308]","[1136.52, 749.889]","[1145.11, 758.48]","[[150.72325100660487, 195.72329792847862, 327....","[[22.771730193377888, 46.54963411241803, 65.78...","[[18.11280972129947, 33.776051930324726, 50.78..."

## Filtering the dataframe with desired columns

In [41]:
df= pd.DataFrame()

In [42]:
df=hf.filter(items=['pd',  'hld', 'hrd'])

In [43]:
df.head(1)

,pd,hld,hrd
0,"[[144.95356148091017, 193.70109885336217, 312....","[[25.356668077647758, 50.80675817251097, 69.58...","[[18.37067361312592, 35.96953745879976, 52.335..."

In [44]:
df = df.join(df['pd'].apply(pd.Series).add_prefix('p_'))
df = df.join(df['hld'].apply(pd.Series).add_prefix('hl_'))
df = df.join(df['hrd'].apply(pd.Series).add_prefix('hr_'))

In [45]:
df.head(1)

,pd,hld,hrd,p_0,hl_0,hr_0
0,"[[144.95356148091017, 193.70109885336217, 312....","[[25.356668077647758, 50.80675817251097, 69.58...","[[18.37067361312592, 35.96953745879976, 52.335...","[144.95356148091017, 193.70109885336217, 312.0...","[25.356668077647758, 50.80675817251097, 69.582...","[18.37067361312592, 35.96953745879976, 52.3354..."

In [46]:
df = df.join(df['p_0'].apply(pd.Series).add_prefix('pd_'))
df = df.join(df['hl_0'].apply(pd.Series).add_prefix('hld_'))
df = df.join(df['hr_0'].apply(pd.Series).add_prefix('hrd_'))

In [47]:
df.head(1)

,pd,hld,hrd,p_0,hl_0,hr_0,pd_0,pd_1,pd_2,pd_3,...,hrd_200,hrd_201,hrd_202,hrd_203,hrd_204,hrd_205,hrd_206,hrd_207,hrd_208,hrd_209
0,"[[144.95356148091017, 193.70109885336217, 312....","[[25.356668077647758, 50.80675817251097, 69.58...","[[18.37067361312592, 35.96953745879976, 52.335...","[144.95356148091017, 193.70109885336217, 312.0...","[25.356668077647758, 50.80675817251097, 69.582...","[18.37067361312592, 35.96953745879976, 52.3354...",144.953561,193.701099,312.06841,426.642554,...,50.202309,30.686542,16.679406,5.426933,19.657506,33.551794,46.017145,14.009737,26.367881,12.607112

In [48]:
df = df.drop(['pd', 'hld', 'hrd','p_0', 'hl_0', 'hr_0'], axis=1)

In [49]:
df.head()

,pd_0,pd_1,pd_2,pd_3,pd_4,pd_5,pd_6,pd_7,pd_8,pd_9,...,hrd_200,hrd_201,hrd_202,hrd_203,hrd_204,hrd_205,hrd_206,hrd_207,hrd_208,hrd_209
0,144.953561,193.701099,312.068410,426.642554,191.407601,325.748706,413.342525,438.645131,421.581772,616.585114,...,50.202309,30.686542,16.679406,5.426933,19.657506,33.551794,46.017145,14.009737,26.367881,12.607112
1,148.000221,195.717164,316.820091,431.946025,191.487601,327.203631,410.696714,429.986713,418.688091,618.228075,...,54.064102,31.485597,16.207998,3.457687,22.684571,37.913202,53.893636,15.282519,31.210931,16.054009
2,148.062367,197.744712,319.198245,431.902368,191.492600,327.164185,413.416707,435.853351,428.905367,610.521804,...,54.622294,33.139513,19.126493,1.184223,21.540318,35.598153,54.026340,14.061826,32.511976,18.463367
3,147.995075,197.709491,319.996506,437.108692,191.370400,327.061750,413.339748,438.591750,425.367153,610.500486,...,55.219509,32.947123,17.402817,3.146999,22.334885,37.881841,55.466039,15.563778,33.131176,17.618011
4,150.723251,195.723298,327.180571,435.857088,191.313429,328.508101,414.160122,441.439866,427.667589,612.566824,...,54.669587,31.721880,17.425007,6.570000,23.053470,37.311463,49.337512,14.304141,26.284063,12.148802
5,150.711865,195.658740,322.300536,435.852323,195.303574,329.521255,414.144470,432.822632,428.718032,611.545308,...,56.051084,33.842845,19.124147,5.615260,22.267009,37.042520,54.790509,14.778507,32.557106,17.906065
6,150.792838,193.765516,322.278604,435.896622,197.673158,327.065382,414.094040,432.773131,427.660344,612.604931,...,56.660621,33.411246,19.126493,6.444488,23.330611,37.692149,54.680224,14.365212,31.392967,17.184906
7,153.411512,193.837254,325.683124,438.552297,197.698948,328.432403,414.137934,444.507559,430.650422,619.735165,...,57.520749,33.788621,18.933072,6.209809,23.854098,38.696400,56.347283,14.879278,32.511431,17.903668
8,153.203814,191.906930,320.743826,436.208306,197.666898,328.496098,413.188886,444.398167,430.121405,614.262746,...,55.075216,32.487923,17.217109,3.816963,22.663911,37.880673,54.515947,15.270859,31.852687,16.787422
9,153.377865,191.900484,313.539363,433.696477,197.296884,327.678373,413.359563,441.725104,427.387410,614.423043,...,52.844624,30.844524,16.389484,7.330000,22.095422,36.638400,46.922094,14.549554,24.831906,10.364771

In [51]:
df.drop([col for col, val in df.sum().iteritems() if val == 0], axis=1, inplace=True)

In [52]:
df.head(1)

,pd_0,pd_1,pd_2,pd_3,pd_4,pd_5,pd_6,pd_7,pd_8,pd_9,...,hrd_200,hrd_201,hrd_202,hrd_203,hrd_204,hrd_205,hrd_206,hrd_207,hrd_208,hrd_209
0,144.953561,193.701099,312.06841,426.642554,191.407601,325.748706,413.342525,438.645131,421.581772,616.585114,...,50.202309,30.686542,16.679406,5.426933,19.657506,33.551794,46.017145,14.009737,26.367881,12.607112

## Save the processed data in a csv file for each video

In [53]:
df.to_csv("/mnt/sde/jagadish/userdata/dl_project/tv_test_data/tv_8361.csv", index=True)